*,::before,::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,body,main,section{
	width: 100%;
	height: 100%;
}

:root{
	scroll-behavior: smooth;
}

main{
	background: #333;
	padding: 10px 8px;
	font-family: Jost, system-ui;
}

nav{
	background: repeating-linear-gradient(45deg, #0002, #fff2) 0 0 / 1px 75px;
	border-radius: 15px;
	box-shadow: 0 0 115px #000;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	position: fixed;
	width: calc(100% - 16px);
	height: 50px;
	backdrop-filter: blur(15px);
	z-index: 2;

	> :not(ul) {
		user-select: none;
	}

	> ul {
		list-style-type: none;
		display: flex;
		gap: 15px;

		> li {
		    display: inline-block;
		    background: linear-gradient(#1c1c1cbf, #0000008c);
		    border-radius: 12px;
		    font-size: .9em;
		    transition: all .3s;

		    &:hover{
		    	box-shadow:inset 0 55px #0005;
		    }

			>a{
			    border-radius: 12px;
			    display: inline-block;
				text-decoration: none;
				color:#847474;
		    	padding: 4px 15px;
			}
		}
	}
}

::selection {
	background: #0002;
}

#top{
    margin: -10px -8px;
    margin-bottom:0;
    background: linear-gradient(45deg, #ad9b7a, #814081);
    width: calc(100% + 16px);
    height: calc(100% + 20px);
    display: flex;
    align-items: center;
    padding-left: 15%;
    padding-top: 4%;

    > h1 {
	    width: 30%;
	    -webkit-text-stroke: 1px #ffffff44;
    	text-shadow: 0 0 15px #0004;
    }

    > .project-span {
    	position: relative;
    	left: 20%;

    	> .project {
    		background: #0003;
    		box-shadow: 0 0 5px #0003;
    		border-radius: 10px;
    		padding: 6px;
    		display: grid;
    		text-align: center;
    		gap: 6px;
		    transition: all .3s;
			backdrop-filter: blur(15px);
			user-select:  none;
			position: relative;

		    &:hover{
	    		background: #0004;
	    	}

    		> img {
    			width: 150px;
	    		border-radius: 8px;
	    		box-shadow: 0 0 5px #0003;
    		}

    		> span {
    			cursor:text;
    			width:fit-content;
    			justify-self:center;
    		}

    		&:active {
    			transform: translateX(calc(min(15, max(-15, calc(var(--mouseX) - var(--x, 0)))) * 1px))
 				           translateY(calc(min(15, max(-15, calc(var(--mouseY) - var(--y, 0)))) * 1px));
    		}

    		:has(> &:active) > .project:not(:active) {
    			transform: translateX(calc(calc(min(15, max(-15, calc(var(--rmouseX) - var(--x, 0)))) * var(--neg,1)) * 1px))
 				           translateY(calc(calc(min(15, max(-15, calc(var(--rmouseY) - var(--y, 0)))) * var(--neg,1)) * 1px))
 				           rotateY(calc(calc(min(15, max(-15, calc(var(--rmouseX) - var(--y, 0)))) * var(--neg,1)) * 1deg))
 				           rotateX(calc(calc(min(15, max(-15, calc(var(--rmouseY) - var(--x, 0)))) * var(--neg,1)) * 1deg));
    		}
    	}
    }
}

#gopowered {
    margin-inline: -8px;
    background: radial-gradient(rgb(99 135 183), rgb(137 166 203));
    width: calc(100% + 16px);
    height: calc(100% + 20px);
    box-shadow: 0 0 15px #0003, inset 0 5px 15px #0003;
    display: grid;
    align-content: center;
    justify-content: center;
    padding-bottom: mod(min(67vh, calc(calc(var(--scrollY) + 150) * 1px)), 67vh);
    transition: padding-bottom .1s;

    > h1 {
	    width: max(0px, min(739px, calc(calc(var(--scrollY) - 200) * 3.3px)));
	    overflow: hidden;
    	text-wrap: nowrap;
    }

    > code{
	    background: #0003;
	    width: fit-content;
	    padding: 10px 15px;
	    border-radius: 15px;
	    margin-top: 8px;
	    box-shadow: 0 0 15px #0004;
	    justify-self: center;
    }

    > code>p {
    	white-space: pre;
    	transition: all .1s;

		&.set1 {
    		padding-left:max(0px, min(15px, calc(calc(var(--scrollY) - 500) * 1px)));
    	}

    	&.set2 {
/*    		width:0px;*/
    		height:max(0px, min(16px, calc(calc(var(--scrollY) - 500) * 1px)));
    		overflow:hidden;
    		text-wrap:nowrap;
    	}

    	go {
    		&[part="kw"] { color: #d38fd3 }
    		&[part="lit"] { color: #79bdff }
    		&[part="ref"] { color: #77a6d5 }
    		&[part="def"] { color: #e1bad1 }
    		&[part="str"] { color: limegreen }
    		&[part="op"] { color: #4e4e4e }
    		&[part="opdef"] { color: #443840 }
    		&[part="opref"] { color: #465056 }
    	}
    }

    > a {
    	transition: height max(0s, min(.35s, calc(calc(var(--scrollY) - 550) * 1s)));
    	display:inline-block;
		height:max(0px, min(35px, calc(calc(var(--scrollY) - 550) * 1px)));
		overflow:hidden;
		text-wrap:nowrap;
		background: #0003;
	    padding: max(0px, min(6px, calc(calc(var(--scrollY) - 550) * 1px)))
		 	     max(0px, min(15px, calc(calc(var(--scrollY) - 550) * 1px)));
	    border-radius: 15px;
	    margin-top: 8px;
	    box-shadow: 0 0 15px #0004;
		justify-self:center;
		text-decoration: none;
		color:#fff6;
    }
}

#antiai {
    margin-inline: -8px;
    background: linear-gradient(0deg, rgb(183 161 99), #0000, rgb(177 147 117)),
    		    linear-gradient(45deg, rgb(139 128 91), rgb(177 147 117));
    width: calc(100% + 16px);
    height: calc(100% + 20px);
    box-shadow: 0 0 15px #0003, inset 0 5px 15px #0003;
    display: grid;
    align-content: center;
    justify-content: center;
    transition: padding-bottom .1s;

    > .modrinth {
    	margin-top: 3px;
    	background: #0003;
    	padding: 5px;
    	border-radius: 8px;
    	box-shadow: 0 0 15px #0004;

    	.rect {
    		background: var(--color, #00000027);
	    	border-radius: 8px;
    		min-width: 40px;
    		height: 16px;
    		position: relative;
    		display: inline-block;

    		&[realtext] {
    			overflow: hidden;

    			&::before {
    				content: attr(realtext);
    				color: color-mix(in srgb, var(--color), #000);
    				pointer-events: none;
    				font-size: 0em;
    				position: relative;
    				top: -4px;
    				opacity: 0;
    				width: max-content;
	    			transition: font-size .15s,
	    					    opacity .25s cubic-bezier(0.65, 0, 0.35, 1);
    			}

    			&:hover::before {
    				transition-duration: .3s, .25s;
    				opacity: 1;
    				font-size: .8em;
    				padding-inline: 5px;
    			}
    		}
    	}

    	> .nav {
    		margin-bottom: 6px;
    	}

    	> .grid > .project {
		    background: #00000016;
		    border-radius: 7px;
		    padding: 6px;
		    display: flex;
		    backdrop-filter: blur(4px);

		    &::before {
		    	background: #00000015;
		    	border-radius: 6px;
		    	width: 22px;
		    	height: 22px;
		    	content: '';
		    	display: inline-block;
		    	margin: -3px;
		    	margin-right: 5px;
		    }

		    &:not(:last-of-type) {
			    margin-bottom: 3px;
			}
    	}

    	&.visible > .grid > .project {
    		&:has(> .rect[style]) {
    			animation: analyze .6s 1s forwards, popout .3s cubic-bezier(0.83, 0, 0.17, 1) 2s forwards;
    		}
    	}
    }

    > a {
    	margin-top: 5px;
    	background: #0003;
    	padding: 5px;
    	border-radius: 8px;
    	box-shadow: 0 0 15px #0004;
    	text-align: center;
    	color: #000a;
    }
}

@keyframes popout {
	100% {
		opacity: 0;
		height: 0;
		margin: 0;
		padding: 0;
	}
}

@keyframes analyze {
	33% {
		translate: -10px;
	}

	77% {
		translate: 10px;
	}
}

footer {
    margin-inline: -8px;
    background: linear-gradient(180deg, #f1bd49, #856b32);
    padding: 30px;
    display: flex;
    height: 300px;

    > .category {
    	margin-left: 115px;

    	> p {
    		font-weight: 500;
    	}

    	> ul {
    		list-style: none;

    		a {
	    		color: #333;

	    		&::before {
	    			width: 0px;
	    			display: inline-block;
	    			content: '› ';
	    			overflow: hidden;
	    			text-wrap: nowrap;
	    			position: relative;
	    			top: 5px;
	    			transition: width .4s;
	    		}

	    		&:hover::before {
	    			width: 10px;
	    			transition-duration: 1s;
	    		}

	    		&:visited {
	    			color: #4a4a4a;
	    		}
	    	}
    	}
    }
}

@font-face {
	font-family: 'Jost';
	src: url(./Jost-VariableFont_wght.ttf), local("Jost");
	font-display: swap;
}

@font-face {
	font-family: 'Jost';
	font-style: italic;
	src: url(./Jost-Italic-VariableFont_wght.ttf), local("Jost");
	font-display: swap;
}
