@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, main {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Source Sans 3", system-ui;
    color: #fff;
}

main {
    display: grid;
    place-items: center;
    background: radial-gradient(#0000, #222) 0 0 / 100% 50%,
                linear-gradient(#0000, #fff5);
    background-color: #000;
}

#login {
    background: #0004;
    border-radius: 15px;
    box-shadow: 0 0 15px #0003, 0 0 0 4px #0004;
    border: 1px solid #fff3;
    padding: 14px;
    text-align: center;
    display: grid;
    gap: 6px;
    width: 400px;
}

@keyframes hide {
    100% {
        filter: blur(15px);
        scale: .7;
        opacity: 0;
    }
}

#login.hide {
    animation: hide .75s cubic-bezier(0.23, 1, 0.320, 1) forwards;
}

#panel {
    animation: hide .75s cubic-bezier(0.23, 1, 0.320, 1) forwards alternate-reverse;
    background: #0004;
    border-radius: 15px;
    box-shadow: 0 0 15px #0003, 0 0 0 4px #0004;
    border: 1px solid #fff3;
    padding: 14px;
    text-align: center;
    display: grid;
    gap: 6px;
}

#panel .flex {
    display: flex;
    gap: 14px;
}

#panel > .flex > * {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 12px;
    box-shadow: 0 0 15px #fff2, 0 0 0 1px #fff4;
    background: #fff2;
    border-radius: 15px;
}

#panel > .flex > :not(:first-of-type) {
    cursor: pointer;
}

#panel > .spammer > .message {
    width: 100%;
    min-width: 400px;
    height: 200px;
    resize: vertical;
    padding: 4px 7px;
    background: #fff3;
    border-radius: 10px;
    box-shadow: 0 0 5px #0004;
    margin-top: 7px;
    font: inherit;
    color: inherit;
}

:is(button, .btn):hover {
    transition: all .3s cubic-bezier(0.23, 1, 0.320, 1);
    scale: 1.02;
}

:is(button, .btn):active {
    transition: all .3s cubic-bezier(0.23, 1, 0.320, 1);
    scale: .96!important;
}

button.toggled {
    background: linear-gradient(0deg, #fff8, #fff6);
    color: #000a;
}

input, button {
    border: 1px solid #fff2;
    box-shadow: 0 0 15px #fff2;
    border-radius: 14px;
    background: #fff2;
    font: inherit;
    padding: 1px 11px;
    color: inherit;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    box-shadow: 0 0 15px #fff2, 0 0 0 3px #fff1;
    margin-top: 7px;
    cursor: pointer;
    background: linear-gradient(0deg, #fff2, #fff3);
    border-top-width: 2px;
}

body > .alert {
    position: fixed;
    left: 50%;
    translate: -50%;
    top: calc(50% - 205px);
    background: #0007;
    backdrop-filter: blur(15px);
    border-radius: 15px;
    box-shadow: 0 0 5px #0004, inset 0 0 5px #0002;
    padding: 7px;
    animation: alert .35s cubic-bezier(0.23, 1, 0.320, 1) forwards, alert .35s cubic-bezier(0.23, 1, 0.320, 1) forwards alternate-reverse 1s;
}

@keyframes alert {
    0% {
        filter: blur(8px);
        transform: scale(0);
        transform-origin: center bottom;
    }
}

* {
    transition: outline-width .3s cubic-bezier(0.895, 0.03, 0.685, 0.22)
}

:focus-visible {
    outline: 3px solid #fff5;
}
